:root{
    --blue : #2C2546;
    --red  : #D16B55;
    --pink : #F26074;
    --white: #FAF7F8;
}

.mascot{
    width: 80px;
    height: 40px;
    border-radius: 15px;
}

*{
    margin: 0;
    padding :0;
    text-decoration: wavy;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "georgia";
    box-shadow: #53858A;
}

body{
    background-color: #FFFACD;
    color: aquamarine;
}

.bg-color{
    background-image: url(assets/R.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

header{
    text-align: center;
    background-image: url(assets/pple.jpg);
    position:relative;
    width: 90%;
    right: 5%;
    left: 5%;
    height: 100px;
    top:0;
    border-radius: 0px 0px 100px 100px;
}
.input-search{
    width: 30%;
    border-width: 3px;
    border-style: groove;
    border: none;
    border-radius: 0 0 0 13px;
    padding:5px;
    margin-top: 5px;
    text-align: center;
}
.input-submit{
    margin-left: -5px;
    border : none;
    border-radius: 0 13px 0 0;
    padding: 5px;
    background-color: #66CDAA;
}
.title{
    font-family: "Franklin gothic medium";
    font-size: 170%;
    color: #752d0c;
    margin: 10px;
}
nav{
    margin-top: 10px;
}
nav ul{
    display:flex;
    gap : 10px;
    justify-content: center;
}
nav ul li a{
    
    color:black;
}
nav ul li a:hover{
    
    border-bottom: 2px solid var(--white);
}
.carousel-inner{
    width :50rem;
    transition: .5s;
    margin:40px;
}

.carouselcontrol{
    position:relative;
}

.content{
    max-height : 30%;
    width : 100%;
    background: #66CDAA;
    text-align: center;
    padding: 10px;
}
.overlay{
    position:fixed;
    top :0;
    bottom:0;
    left :0;
    right :0;
    background: rgba (0, 0, 0.7) ;
    transition: opacity 500ms;
    visibility:hidden;
    opacity:0;
}
.overlay:target{
    visibility:visible;
    opacity:1;
}
.popup{
    margin:90px auto;
    padding:20px;
    background: var(--dark-blue);
    border-radius:5px;
    width : 30%;
    position:relative;
    transition: all 5s ease-in-out;
}
.popup h2{
    margin-top:0;
    color:var(--white);
    font-family:tahoma,Arial,sans-serif;
}
.popup .close{
    position:relative;
    top: 5px;
    right:10px;
    transition:all 200ms;
    font-size:30px;
    font-weight: bold;
    text-decoration: none;
    color :#333;

}
.popup .close:hover{
    color:#06D85F;

}

.populer{
    display :grid;
    grid-template-columns: repeat(4,1fr);
    width: 70px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
    text-align: center;
}
.entertainment{
    display :grid;
    grid-template-columns: repeat(4,1fr);
    width: 70px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
    text-align: center;
}
.title-e{
    margin-left:60px;
    padding: 5px 0px 5px 20px;
    background-image: url(assets/pple.jpg);
    width: 50%;
    border-radius: 0px 0px 50px 20px;
}
.entertainment img{
    border-radius: 15px;
    width :120px;
    margin-right: 10px;
    margin-left: 10px;
}
.voucher{
    display :grid;
    grid-template-columns: repeat(6,1fr);
    width: 70px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
    text-align: center;
}
.title-v{
    margin-left:60px;
    padding: 5px 0px 5px 20px;
    background-image: url(assets/pple.jpg);
    width: 50%;
    border-radius: 0px 0px 50px 20px;
}
.voucher img{
    border-radius: 15px;
    width :120px;
    margin-right: 10px;
    margin-left: 10px;
}
.title-p{
    margin-left:60px;
    padding: 5px 0px 5px 20px;
    background-image: url(assets/pple.jpg);
    width: 50%;
    border-radius: 0px 0px 50px 20px;
}
.populer img{
    border-radius: 15px;
    width :120px;
    margin-left: 10px;
    margin-right: 10px;
}
.harga{
    color: #F26074;
}
.link a
{
    color: #ffffff;
}
link a:hover{
    color:var(--green);
}
.container{
    /*background-color: #2C2546;*/
    background-image: url(assets/POPULAR.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 10px 10px 100px 100px;
    height: 5%;
    margin: 2% 0% 2% 0%;
    padding: 1px;
}
.container img{
    right: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 5px;
}
.container button{
    margin-left: 22%;
    margin-right: 22%;
}
.pesan img{
    width : 30px;
}
.pesan{
    background-color: var(--green);
    padding : 5%;
    border-radius: 10px;
}
.pesan:hover{
    background-color: var(--white);
}
.card-header{
    text-align: center;
}

.tentang{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
}
 
.card{
    background-color: var(--blue);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 20px 20px black;
}
 
.card h1{
    text-align: center;
}
 
html{
    scroll-behavior: smooth;
}
 
footer{
    display: grid;
    justify-content: center;
    background-color: var(--blue);
    margin-top: 10%;
    padding: 2%;
}
 
.sosmed img {
    width: 50px;
}
 
#copyright{
    text-align: center;
    padding: 10px;
}

h1{
    
    text-align: left;
    color: #350053;
}

h3{
    background-color: #fbff00;
    padding: 10px;
}
 
 
 

 
 
 
